@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        var user = await UserManager.GetUserAsync(User);
        var displayName = user != null ? $"{user.FirstName} {user.LastName}" : UserManager.GetUserName(User);

        <li class="nav-item">
            <a class="nav-link text-dark">Hello @displayName !</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Setting" asp-controller="Account">
                <i class="bi bi-gear"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link logout-btn" asp-controller="Account" asp-action="LogOut">Log Out</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Login" asp-controller="Account">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-action="Register" asp-controller="Account">Register</a>
        </li>
    }
</ul>